
#threadTree tr[is="thread-row"] {
    height: 26px !important;
}
#threadTree tr td {
    font-size: 16px !important;
}

/* Card view */
#threadTree tr[is="thread-card"] {
    height: 52px !important;
}

#folderTree div.container {
    height: 26px !important;
}
#folderTree div.container span.name {
    font-size: 16px !important;
}

/* vim: tabstop=4 shiftwidth=4 expandtab autoindent */
