# -*- Mode: sh; tab-width: 4; indent-tabs-mode: nil -*-
# .bash_profile

# Get the aliases and functions
if [ -f ~/.bashrc ]; then
    . ~/.bashrc
fi

# User specific environment and startup programs

OS=$(uname)

PATHS=(
    "{{ local_bin_dir }}"
    "$HOME/bin"
    "{{ lsp_servers_dir }}/node_modules/.bin"
)

if [ "$OS" == "Darwin" ]; then
    PATHS+=(
        "/usr/local/opt/coreutils/bin"
        "/usr/local/opt/findutils/libexec/gnubin"
        "/usr/local/opt/gnu-sed/libexec/gnubin"
        "/usr/local/opt/gnu-tar/libexec/gnubin"
        "/usr/local/opt/grep/libexec/gnubin"
        "/usr/local/opt/krb5/bin"
        "/usr/local/opt/krb5/sbin"
        "/usr/local/opt/make/libexec/gnubin"
        "{{ ansible_user_dir }}/Library/Python/{{ ansible_python.version.major }}.{{ ansible_python.version.minor }}/bin"
    )

    # Homebrew remote mirrors
    export HOMEBREW_BREW_GIT_REMOTE="https://mirrors.tuna.tsinghua.edu.cn/git/homebrew/brew.git"
    export HOMEBREW_CORE_GIT_REMOTE="https://mirrors.tuna.tsinghua.edu.cn/git/homebrew/homebrew-core.git"
    export HOMEBREW_BOTTLE_DOMAIN="https://mirrors.tuna.tsinghua.edu.cn/homebrew-bottles"
fi

# Uncomment the following line if you don't like systemctl's auto-paging feature:
# export SYSTEMD_PAGER=

export GIT_EDITOR=vim

export GO111MODULE=on
export GOPATH="{{ go_home }}"
PATHS+=("{{ go_home }}/bin")

PATH="$(echo "${PATHS[@]}" | tr ' ' ':'):${PATH}"
export PATH

if [ "$OS" == "Linux" ]; then
    # This requires the /var mount point has enough disk space as a main storage
    # for the system.
    # Ensure it is writable by the user.
    export VAGRANT_HOME="{{ vagrant_home }}"
    export VAGRANT_LIBVIRT_IMAGES="{{ vagrant_libvirt_images_dir }}"

    export REQUESTS_CA_BUNDLE=/etc/pki/tls/certs/ca-bundle.crt
fi

export KUBE_EDITOR=vim

# vim: ts=4 sw=4 ft=sh ai et
